.profile__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) url(../../../images/edit-sym.svg) no-repeat
    center / 26px 26px;
  opacity: 0;
  z-index: 2;
  transition: 0.3s;
  cursor: pointer;
}
