.profile__wrapper {
  position: relative;
  margin: 0 29px 0 0;
}

.profile__wrapper:hover .profile__overlay {
  opacity: 0.8;
}

@media screen and (max-width: 740px) {
  .profile__wrapper {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__wrapper {
    margin-right: 0;
  }
}
